{% extends "base-site.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
label.thick {
  font-weight: bold;
}
.card-header.thick {
  font-weight: bold;
}
</style>

<div class="container-fluid">
    <div class="fade-in">
        <div class="card">
            <div class="card-header"><strong>{{ tratamento.medicamento|safe }} {{ tratamento.concentracao|safe }} {{ tratamento.forma_farmaceutica|safe }}</strong></div>
            <div class="card-body">
                <label class="thick">Patologia</label>
                <p>{{ tratamento.protocolo|safe }}</p>
                <label class="thick">Forma de administração</label>
                <p>{{ tratamento.forma_administracao|safe }}</p>
                <label class="thick">Principais RAMs</label>
                <p>{{ tratamento.principais_rams|safe }}</p>
                <label class="thick">Cuidados especiais</label>
                <p>{{ tratamento.cuidados_especiais|safe }}</p>
                <label class="thick">Armazenamento e transporte</label>
                <p>{{ tratamento.armazenamento_transporte|safe }}</p>
                <div class="card text-white bg-success">
                  <div class="card-header"><strong>Informações ao farmacêutico/acadêmico</strong></div>
                  <div class="card-body">
                    <label class="thick">Dose usual</label>
                    <p>{{ tratamento.dose_usual|safe }}</p>
                    <label class="thick">Associações na literatura</label>
                    <p>{{ tratamento.associacoes_literatura|safe }}</p>
                    <label class="thick">Indicações de mecanismo</label>
                    <p>{{ tratamento.indicacoes_mecanismo|safe }}</p>
                    <label class="thick">Interações graves</label>
                    <p>{{ tratamento.interacoes_graves|safe }}</p>
                    <label class="thick">Interações do medicamento com doenças</label>
                    <p>{{ tratamento.relacao_medicamento_doenca|safe }}</p>
                    <label class="thick">Interações medicamento/alimento</label>
                    <p>{{ tratamento.interacoes_medicamento_alimento|safe }}</p>
                    <label class="thick">Ajuste de dose</label>
                    <p>{{ tratamento.ajuste_dose|safe }}</p>
                    <label class="thick">Risco na gravidez</label>
                    <p>{{ tratamento.risco_gravidez|safe }}</p>
                  </div>
                </div>
                <label class="thick">Referências</label>
                <p>{{ tratamento.referencia|safe }}</p>
            </div>
        </div>
    </div>



</div>

{% endblock content %}