{% extends "base-site.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-2 form-group">
                         {{ search_form.protocolo.label() }}
                         {{ search_form.protocolo(class="form-control") }}
                     </div>
                     <div class="col-sm-4 form-group">
                        {{ search_form.medicamento.label() }}
                        {{ search_form.medicamento(class="form-control") }}
                     </div>
                        <div class="col-sm-6 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"><strong>Tratamentos</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Protocolo</th>
                            <th>Medicamento</th>
                            <th>Concentração</th>
                            <th>Forma farmacêutica</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                            {% for tratamento in tratamentos.items %}
                            <td>{{ tratamento.protocolo }}</td>
                            <td>{{ tratamento.medicamento }}</td>
                            <td>{{ tratamento.concentracao }}</td>
                            <td>{{ tratamento.forma_farmaceutica }}</td>
                             <td>
                                <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('tratamento_blueprint.detalhar_tratamento', id_tratamento=tratamento.id) }}'">
                                    <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                                    </svg> Mais detalhes
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(tratamentos, 'tratamento_blueprint.listar_tratamentos', tratamentos.prev_num, tratamentos.next_num) }}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}
