{% from "macros/base_macro.html" import error_form %}

<form role="form" method="post" id="addUserForm">
    <div class="modal-header">
        <h4 class="modal-title">Adicionar usuário</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        {{ error_form(form) }}
        {{ form.hidden_tag() }}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-voice-over-record"></use></svg>
                </span>
            </div>
            {{ form.username(placeholder="Nome de usuário (por exemplo: joao.pedro)", class="form-control") }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use></svg>
              </span></div>
          {{ form.name(placeholder="Nome", class="form-control") }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-closed"></use></svg>
              </span></div>
          {{ form.email(placeholder="Email", class="form-control") }}
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>