<form role="form" method="post" id="editUserForm">
    {{ form.hidden_tag() }}
    <div class="modal-header">
        <h4 class="modal-title">Editar usuário</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div>
            {% if form.errors %}
                <ul class="errors">
                    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                            <li>[{{ form[field_name].label }}] {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-voice-over-record"></use></svg>
                </span>
            </div>
            {{ form.username(placeholder="Nome de usuário (por exemplo: joao.pedro)", class="form-control") }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use></svg>
              </span></div>
          {{ form.name(placeholder="Nome", class="form-control") }}
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
              <span class="input-group-text">
                <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-closed"></use></svg>
              </span></div>
          {{ form.email(placeholder="Email", class="form-control") }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="c-switch c-switch-label c-switch-success">
                            {{ form.active(class="c-switch-input", type="checkbox", onclick="toggleActiveLabel()") }}
                            <span class="c-switch-slider"></span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <label id="activeLabelText">
                        {% if form.active.data %}
                        Ativo
                        {% else %}
                        Inativo
                        {% endif %}
                        </label>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>