{% extends "base-site.html" %}
{% block title %} Usuários {% endblock %}

{% block content %}

<script>
$(document).ready(function(){
  $("#addUserButton").click(function(){
    var url = "{{ url_for('admin_blueprint.add_user') }}"
    $.get(url, function(data, status){
      $('#addUserModal .modal-content').html(data);
      $('#addUserModal').modal();

      $('body').on('submit','#addUserForm', function() {
      event.preventDefault();
      $.post(url, data=$('#addUserForm').serialize(), function(data) {
        if (data.status == 'ok') {
          $('#addUserModal').modal('hide');
          location.reload();
        }
        else {
          $('#addUserModal .modal-content').html(data);
        }
      });
    })
    });
  });

    $("button[name='editUserButton']").click(function(){
        var idUser = $(this).attr("id").split('-')[1];
        var url = Flask.url_for('admin_blueprint.edit_user', {"id": idUser});
        $.get(url, function(data, status){
          $('#editUserModal .modal-content').html(data);
          $('#editUserModal').modal();

          $('body').on('submit','#editUserForm', function() {
          event.preventDefault();
          $.post(url, data=$('#editUserForm').serialize(), function(data) {
            if (data.status == 'ok') {
              $('#editUserModal').modal('hide');
              location.reload();
            }
            else {
              $('#editUserModal .modal-content').html(data);
            }
          });
        })
        });
    });

});


function toggleActiveLabel(){
    var txt = $("#activeLabelText").text().trim();
    if(txt == 'Ativo')
        $("#activeLabelText").text('Inativo');
    else
        $("#activeLabelText").text('Ativo');
}
</script>

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-3 form-group">
                         {{ search_form.username.label() }}
                         {{ search_form.username(class="form-control") }}
                     </div>
                     <div class="col-sm-3 form-group">
                            {{ search_form.nome.label() }}
                            {{ search_form.nome(class="form-control") }}
                     </div>
                     <div class="col-sm-3 form-group">
                            {{ search_form.email.label() }}
                            {{ search_form.email(class="form-control") }}
                     </div>
                        <div class="col-sm-3 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"> Usuários
                <div class="card-header-actions">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#addUserModal" id="addUserButton">
                    <svg class="c-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user-follow"></use>
                    </svg> Adicionar
                  </button>
                </div>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                            {% for user in users.items %}
                            <td>{{ user.username }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            {% if user.active %}
                            <td><span class="badge badge-success">Ativo</span></td>
                            {% else %}
                            <td><span class="badge badge-secondary">Inativo</span></td>
                            {% endif %}
                            <td>
                                <button class="btn btn-warning" type="button" data-toggle="modal" data-target="#editUserModal" name="editUserButton" id="editButton-{{ user.id }}">
                                    <svg class="c-icon">
                                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                                    </svg> Editar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(users, 'admin_blueprint.users', users.prev_num, users.next_num) }}
                    </div>
                </div>
            </div>
          </div>

        </div>

        <!-- addUser modal-->
        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

        <!-- editUser modal-->
        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
