{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base-site-fullscreen.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <form role="form" method="post" id="sendRequestResetForm">
                {{ form.hidden_tag() }}
                <div class="card-body">
                    <div class="text-center">
                      <h2>Esqueci minha senha</h2>
                      <p class="text-muted">
                        {% if msg %}
                          {{ msg | safe }}
                        {% endif %}
                      </p>
                      <p class="text-muted">
                        O link de recuperação será enviado para o email abaixo
                      </p>
                    </div>
                    <div>
                        {% if form.errors %}
                        <ul class="errors">
                            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <li>[{{ form[field_name].label }}] {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                            <svg class="c-icon"><use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-envelope-closed"></use></svg>
                          </span></div>
                      {{ form.email(placeholder="Email", class="form-control") }}
                    </div>
                    <div class="text-center">
                        {{ form.submit(placeholder="Enviar link", class="btn btn-success") }}
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}