{% import 'bootstrap/wtf.html' as wtf %}
{% extends "base-site-fullscreen.html" %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
            <form role="form" method="post" action="">
              {{ form.hidden_tag() }}
              <div class="card-body">
                <div class="text-center">
                  <h2>Resetar a senha</h2>
                  <p class="text-muted">
                    {% if msg %}
                      {{ msg | safe }}
                    {% endif %}
                  </p>
                </div>
                <div>
                    {% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                            {% for error in field_errors %}
                                <li>[{{ form[field_name].label }}] {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span></div>
                  {{ form.password(placeholder="Senha", class="form-control") }}
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span></div>
                  {{ form.password2(placeholder="Confirmar senha", class="form-control") }}
                </div>
                <div class="text-center">
                    {{ form.submit(placeholder="Resetar", class="btn btn-success px-4") }}
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}