{% extends "base-site-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card-group">
          <div class="card p-4">
          
            <form role="form" method="post" action="">

              {{ form.hidden_tag() }} 

              <div class="card-body">

                <div class="text-center">
                  <h1>Login</h1>
                  <p class="text-muted">

                    {% if msg %}
                      {{ msg | safe }}
                    {% endif %}

                  </p>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                      </svg></span></div>
                  {{ form.username(placeholder="Usuário", class="form-control") }}
                </div>

                <div class="input-group mb-0">
                  <div class="input-group-prepend"><span class="input-group-text">
                      <svg class="c-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                      </svg></span></div>
                  {{ form.password(placeholder="Senha", class="form-control", type="password") }}
                </div>
                <div class="mb-4 text-center">
                    <div class="text-center">
                        <a href="{{ url_for('base_blueprint.reset_password_request') }}" class="btn btn-block btn-link" role="button">Esqueci minha senha</a>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" name="login" class="btn btn-primary px-4">Login</button>
                </div>
              </div>
            
            </form>
              
          </div>
        </div>
      </div>

      <!-- requestResetPass modal-->
      <div class="modal fade" id="requestResetPass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false">
          <div class="modal-dialog" role="document">
          <div class="modal-content">
              <form role="form" method="post" action="sendRequestResetPass" id="sendRequestResetClickModal">
                  <div class="modal-header"></div>
                  <div class="modal-body"></div>
                  <div class="modal-footer"></div>
              </form>
          </div>
          </div>
      </div>

    </div>

{% endblock content %}
