{% extends "base-site-fullscreen.html" %}

{% block title %} 404 {% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
          
            <div class="clearfix">
                <h1 class="float-left display-3 mr-4">404</h1>
                <h4 class="pt-3">Opa! Parece que você está perdido.</h4>
                <p class="text-muted">
                    A página que você estava procurando não existe - <a href="/"> Home </a>
                </p>
            </div>    

        </div>
        
    </div>

{% endblock content %}
