<p>Olá {{ user.name }} ({{ user.username }}),</p>
<p>
    Para resetar sua senha
    <a href="{{ url_for('base_blueprint.reset_password', token=token, _external=True) }}">
        clique aqui.
    </a>
</p>
<p>Caso não funcione, copie e cole o endereço abaixo no seu navegador:</p>
<p>{{ url_for('base_blueprint.reset_password', token=token, _external=True) }}</p>
<p>Caso você não tenha pedido o reset de senha, ignore esse email.</p>
<p>Atenciosamente,</p>
<p>The Microblog Team</p>