
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
            <div class="c-sidebar-brand"></div>
            <ul class="c-sidebar-nav">
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                  </svg> Página inicial</a></li>
              {% if current_user.admin %}
              <li class="c-sidebar-nav-title">Admin</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('admin_blueprint.users', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                  </svg> Usuários</a></li>
              <li class="c-sidebar-nav-title"></li>
              {% endif %}
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('paciente_blueprint.pacientes', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-people"></use>
                  </svg> Pacientes</a>
              </li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('tratamento_blueprint.listar_tratamentos', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-healing"></use>
                  </svg> Tratamentos</a>
              </li>

              <li class="c-sidebar-nav-title">Formulários</li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('questionario_blueprint.listar_estado_situacional', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                  </svg> Estado situacional</a>
              </li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('questionario_blueprint.listar_dispensacao_medicamento', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                  </svg> Dispensação medicamentos</a>
              </li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('questionario_blueprint.listar_avaliacao_farmacoterapia', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                  </svg> Avaliação</a>
              </li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('questionario_blueprint.listar_retorno', pagina=1) }}">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                  </svg> Retorno</a>
              </li>

              {# note: comentario na listagem esquerda
              <li class="c-sidebar-nav-title">Theme</li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-colors">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-drop1"></use>
                  </svg> Colors</a></li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-typography">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                  </svg> Typography</a></li>
              <li class="c-sidebar-nav-title">Components</li>
              <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-puzzle"></use>
                  </svg> Base</a>
                <ul class="c-sidebar-nav-dropdown-items">
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-breadcrumb"><span class="c-sidebar-nav-icon"></span> Breadcrumb</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-cards"><span class="c-sidebar-nav-icon"></span> Cards</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-carousel"><span class="c-sidebar-nav-icon"></span> Carousel</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-collapse"><span class="c-sidebar-nav-icon"></span> Collapse</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-forms"><span class="c-sidebar-nav-icon"></span> Forms</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-jumbotron"><span class="c-sidebar-nav-icon"></span> Jumbotron</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-list-group"><span class="c-sidebar-nav-icon"></span> List group</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-navs"><span class="c-sidebar-nav-icon"></span> Navs</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-pagination"><span class="c-sidebar-nav-icon"></span> Pagination</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-popovers"><span class="c-sidebar-nav-icon"></span> Popovers</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-progress"><span class="c-sidebar-nav-icon"></span> Progress</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-scrollspy"><span class="c-sidebar-nav-icon"></span> Scrollspy</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-switches"><span class="c-sidebar-nav-icon"></span> Switches</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-tables"><span class="c-sidebar-nav-icon"></span> Tables</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-tabs"><span class="c-sidebar-nav-icon"></span> Tabs</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/base-tooltips"><span class="c-sidebar-nav-icon"></span> Tooltips</a></li>
                </ul>
              </li>
              <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
                  </svg> Buttons</a>
                <ul class="c-sidebar-nav-dropdown-items">
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-regular"><span class="c-sidebar-nav-icon"></span> Buttons</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-group"><span class="c-sidebar-nav-icon"></span> Buttons Group</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-dropdowns"><span class="c-sidebar-nav-icon"></span> Dropdowns</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/buttons-brand"><span class="c-sidebar-nav-icon"></span> Brand Buttons</a></li>
                </ul>
              </li>
              <li class="c-sidebar-nav-dropdown"><a class="c-sidebar-nav-dropdown-toggle" href="#">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
                  </svg> Icons</a>
                <ul class="c-sidebar-nav-dropdown-items">
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-coreui-free"> CoreUI Icons<span class="badge badge-success">Free</span></a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-coreui-brand"> CoreUI Icons - Brand</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/icons-coreui-flag"> CoreUI Icons - Flag</a></li>
                </ul>
              </li>
              <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                  </svg> Notifications</a>
                <ul class="c-sidebar-nav-dropdown-items">
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notifications-alerts"><span class="c-sidebar-nav-icon"></span> Alerts</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notifications-badge"><span class="c-sidebar-nav-icon"></span> Badge</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/notifications-modals"><span class="c-sidebar-nav-icon"></span> Modals</a></li>
                </ul>
              </li>
              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-widgets">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>
                  </svg> Widgets<span class="badge badge-info">NEW</span></a></li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-charts">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-chart-pie"></use>
                  </svg> Charts</a></li>

              <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="{{ url_for('base_blueprint.logout') }}" >
                  <svg class="c-sidebar-nav-icon">'
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                  </svg> Logout</a></li>

              <li class="c-sidebar-nav-divider"></li>
              <li class="c-sidebar-nav-title">Extras</li>
              <li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-star"></use>
                  </svg> Pages</a>
                <ul class="c-sidebar-nav-dropdown-items">
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/create_user" target="_top">
                      <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                      </svg> Register</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-404" target="_top">
                      <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
                      </svg> Error 404</a></li>
                  <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/page-500" target="_top">
                      <svg class="c-sidebar-nav-icon">
                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-bug"></use>
                      </svg> Error 500</a></li>
                </ul>
              </li>
              <li class="c-sidebar-nav-item mt-auto"><a class="c-sidebar-nav-link c-sidebar-nav-link-success" 
                  href="https://appseed.us/admin-dashboards/flask-dashboard-coreui">
                  <svg class="c-sidebar-nav-icon">
                    <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cloud-download"></use>
                  </svg> Product Info</a></li>
            </ul>
            <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
            #}

          </div>
      