{% macro confirma_delete(idModal, route, idValue) %}

<script>
$(".deleteButton").click(function(e){
    var path = "{{ url_for(route, id=idValue) }}".replace("{{ idValue }}", $(this).attr("data-param"))
    $("#confirmExclude").attr("href", path)
})
</script>

<div class="modal fade" id="{{ idModal }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h4 class="modal-title">Você tem certeza?</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
        <p>Caso confirme seu cadastro será apagado</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Não</button>
            <a href="" class="btn btn-success" id="confirmExclude">Sim</a>
        </div>
    </div>
    <!-- /.modal-content-->
    </div>
    <!-- /.modal-dialog-->
</div>
{% endmacro %}