{% macro add_input(id_form, id_input) %}
<div id="{{ id_form }}" class="is-hidden" data-index="_" style="margin-bottom: 5px;">
    <div class="input-group input-group-sm">
        <input class="form-control" id="{{ id_input }}" name="{{ id_input }}" type="text" value="" autocomplete="off">
        <div class="input-group-append" >
            <button type="button" class="btn btn-danger remove">Remover</button>
        </div>
    </div>
</div>
{% endmacro %}

{# No caso dessa macro, não vou usar para nenhuma outra finalidade, então não será preciso #}
{# colocar parametros. O ideal seria colocar como um template, mas aqui fica mais organizado. #}
{% macro add_historico_remedio_form() %}
<div id="historicoRemediosUsados-_-form" class="is-hidden" data-index="_">
    <div class="row">
        <div class="form-group col-sm-4">
            <label for="historicoRemediosUsados-_-nomeRemedio"><strong>Nome do remédio</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-nomeRemedio" name="historicoRemediosUsados-_-nomeRemedio" type="text" value="" autocomplete="off" maxlength="500">
        </div>
        <div class="form-group col-sm-2">
            <label for="historicoRemediosUsados-_-concentracao"><strong>Concentração</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-concentracao" name="historicoRemediosUsados-_-concentracao" type="text" value="" autocomplete="off" maxlength="500">
        </div>
        <div class="form-group col-sm-3">
            <label for="historicoRemediosUsados-_-formaFarmaceutica"><strong>Forma farmacêutica</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-formaFarmaceutica" name="historicoRemediosUsados-_-formaFarmaceutica" type="text" value="" autocomplete="off" maxlength="500">
        </div>
        <div class="form-group col-sm-3">
            <label for="historicoRemediosUsados-_-finalidade"><strong>Finalidade</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-finalidade" name="historicoRemediosUsados-_-finalidade" type="text" value="" autocomplete="off" maxlength="500">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
            <label for="historicoRemediosUsados-_-comoFoiPrescrito"><strong>Como foi prescrito</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-comoFoiPrescrito" name="historicoRemediosUsados-_-comoFoiPrescrito" type="text" value="" autocomplete="off" maxlength="500">
        </div>
        <div class="form-group col-sm-6">
            <label for="historicoRemediosUsados-_-comoToma"><strong>Como toma</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-comoToma" name="historicoRemediosUsados-_-comoToma" type="text" value="" autocomplete="off" maxlength="500">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="historicoRemediosUsados-_-quemReceitou"><strong>Quem receitou</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-quemReceitou" name="historicoRemediosUsados-_-quemReceitou" type="text" value="" autocomplete="off" maxlength="500">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3">
        <div class="form-check">
            <input class="form-check-input" id="historicoRemediosUsados-_-produzEfeitoEsperado" name="historicoRemediosUsados-_-produzEfeitoEsperado" type="checkbox">
            <label class="form-check-label" for="historicoRemediosUsados-_-produzEfeitoEsperado">Produz efeito esperado</label>
        </div>
    </div>
        <div class="form-group col-sm-3">
            <div class="form-check">
                <input class="form-check-input" id="historicoRemediosUsados-_-temDificuldadeAdquirir" name="historicoRemediosUsados-_-temDificuldadeAdquirir" type="checkbox">
                <label class="form-check-label" for="historicoRemediosUsados-_-temDificuldadeAdquirir">Dificuldade em adquirir</label>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div class="form-check">
                <input class="form-check-input" id="historicoRemediosUsados-_-temDificuldadeAdministrar" name="historicoRemediosUsados-_-temDificuldadeAdministrar" type="checkbox">
                <label class="form-check-label" for="historicoRemediosUsados-_-temDificuldadeAdministrar">Dificuldade em administrar</label>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div class="form-check">
                <input class="form-check-input" id="historicoRemediosUsados-_-senteReacaoAdversa" name="historicoRemediosUsados-_-senteReacaoAdversa" type="checkbox">
                <label class="form-check-label" for="historicoRemediosUsados-_-senteReacaoAdversa">Reação adversa</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <label for="historicoRemediosUsados-_-observacoes"><strong>Observações</strong></label>
            <input class="form-control" id="historicoRemediosUsados-_-observacoes" name="historicoRemediosUsados-_-observacoes" type="text" value="" autocomplete="off" maxlength="500">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12">
            <button type="button" class="btn btn-danger float-right remove">Remover</button>
        </div>
    </div>
    <hr>
</div>

{% endmacro %}

{% macro container_outra_opcao(id) %}
<div id="{{ id }}" ></div>
{% endmacro %}