{% extends "base-site.html" %}

{% block title %} Pacientes {% endblock %}

{% block content %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">

<script  type="text/javascript">
   $(document).ready(function(){

        $("#my-date").datepicker({
            dateFormat: 'dd/mm/yy',
            dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
            dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
            monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
            nextText: 'Próximo',
            prevText: 'Anterior'
        });

    });
</script>

<div class="container-fluid">
    <div class="fade-in">
        <div class="row">
            <div class="col-sm-12">
                <form role="form" method="post" id="qqq">
                <div class="card">
                    <div class="card-header"><strong>{{ titulo_card }}</strong></div>
                        <div class="card-body">
                            {{ error_form(form) }}
                            {{ form.hidden_tag() }}
                                <div class="row">
                                    <div class="form-group col-sm-2">
                                        {{ form.cpf.label() }}
                                        {{ form.cpf(class="form-control") }}
                                    </div>
                                    <div class="form-group col-sm-6">
                                      {{ form.nome.label() }}
                                      {{ form.nome(class="form-control") }}
                                    </div>
                                    <div class="form-group col-sm-2">
                                        {{ form.sexo.label() }}
                                        {{ form.sexo(class="form-control") }}
                                    </div>
                                    <div class="form-group col-sm-2">
                                        {{ form.data_nascimento.label() }}
                                        {{ form.data_nascimento(class="form-control form-date", id="my-date") }}
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="form-group col-sm-6">
                                    {{ form.telefone.label() }}
                                    {{ form.telefone(class="form-control") }}
                                  </div>
                                  <div class="form-group col-sm-6">
                                    {{ form.email.label() }}
                                    {{ form.email(class="form-control") }}
                                  </div>
                                </div>
                              <div class="row">
                                <div class="form-group col-sm-5">
                                    {{ form.endereco.label() }}
                                    {{ form.endereco(class="form-control") }}
                                </div>
                                <div class="form-group col-sm-2">
                                    {{ form.complemento.label() }}
                                    {{ form.complemento(class="form-control") }}
                                </div>
                                <div class="form-group col-sm-3">
                                    {{ form.referencia.label() }}
                                    {{ form.referencia(class="form-control") }}
                                </div>
                                <div class="form-group col-sm-2">
                                    {{ form.cep.label() }}
                                    {{ form.cep(class="form-control") }}
                                </div>
                              </div>
                              <!-- /.row-->

                        </div>
                        <div class="card-footer">
                            {{ form.submit(class="btn btn-success float-right") }}
                        </div>
              </div>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}