{% extends "base-site.html" %}
{% block title %} Pacientes {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-2 form-group">
                         {{ search_form.cpf.label() }}
                         {{ search_form.cpf(class="form-control") }}
                     </div>
                     <div class="col-sm-4 form-group">
                            {{ search_form.nome.label() }}
                            {{ search_form.nome(class="form-control") }}
                     </div>
                        <div class="col-sm-6 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"><strong>Pacientes</strong>
                <div class="card-header-actions">
                  <a href="{{ url_for('paciente_blueprint.adicionar_paciente') }}" class="btn btn-primary" role="button">
                    <svg class="c-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user-follow"></use>
                    </svg> Adicionar
                  </a>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data nascimento</th>
                            <th>Sexo</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                            {% for paciente in pacientes.items %}
                            <td>{{ paciente.nome }}</td>
                            <td>{{ paciente.cpf }}</td>
                            <td>{{ paciente.data_nascimento.strftime('%d/%m/%Y') }}</td>
                             <td>{{ paciente.sexo }}</td>
                             <td>{{ paciente.email }}</td>
                             <td>{{ paciente.telefone }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-warning" type="button" onclick="location.href='{{ url_for('paciente_blueprint.edit_paciente', id=paciente.id) }}'">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                                        </svg> Editar
                                    </button>
                                <div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(pacientes, 'paciente_blueprint.pacientes', pacientes.prev_num, pacientes.next_num) }}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}
