{% extends "base-site.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="fade-in">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        {{ error_form(form) }}
        {{ form.hidden_tag() }}
        <div class="card">
            <div class="card-header"><strong>Necessidade</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ form.necessidade_p1.label() }}</label>
                        {{ form.necessidade_p1(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ form.necessidade_p2.label() }}</label>
                        {{ form.necessidade_p2(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">Observações</label>
                        {{ form.necessidade_obs(class="form-control", maxlength=2000) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header"><strong>Adesão</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ form.adesao_p1.label() }}</label>
                        {{ form.adesao_p1(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ form.adesao_p2.label() }}</label>
                        {{ form.adesao_p2(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">Observações</label>
                        {{ form.adesao_obs(class="form-control", maxlength=2000) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header"><strong>Avaliação da efetividade e segurança por medicamento - {{ form.efetividades_segurancas|length }} medicamentos(s)</strong></div>
            <div class="card-body">
                {% for sub_form in form.efetividades_segurancas %}
                <p><strong>{{ sub_form.farmacoterapia_nome_remedio.data }}</strong></p>

                <p><u>Efetividade</u></p>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ sub_form.efetividade_p1.label() }}</label>
                        {{ sub_form.efetividade_p1(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ sub_form.efetividade_p2.label() }}</label>
                        {{ sub_form.efetividade_p2(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">Observações</label>
                        {{ sub_form.efetividade_obs(class="form-control", maxlength=2000) }}
                    </div>
                </div>

                <p><u>Segurança</u></p>
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ sub_form.seguranca_p1.label() }}</label>
                        {{ sub_form.seguranca_p1(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">{{ sub_form.seguranca_p2.label() }}</label>
                        {{ sub_form.seguranca_p2(class="form-control") }}
                    </div>
                    <div class="form-group col-md-4">
                        <label class="form-label">Observações</label>
                        {{ sub_form.seguranca_obs(class="form-control", maxlength=2000) }}
                    </div>
                </div>
                {% if loop.index <= form.efetividades_segurancas|length-1 %}<hr>{% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-header"><strong>Questões complementares</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p1.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p1(class="form-control") }}</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p2.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p2(class="form-control") }}</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p3.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p3(class="form-control") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p4.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p4(class="form-control") }}</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p7.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p7(class="form-control") }}</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p6.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p6(class="form-control") }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p5.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p5(class="form-control") }}</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">{{ form.outras_obs_p8.label() }}</label>
                        <p class="form-control-static">{{ form.outras_obs_p8(class="form-control") }}</p>
                    </div>
                    <div class="col-md-4">
                        <label class="col-form-label">Observações</label>
                        <p class="form-control-static">{{ form.outras_perguntas_obs(class="form-control", maxlength=2000) }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header"><strong>Parecer farmacêutico</strong></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label">{{ form.parecer_farmaceutico.label() }}</label>
                        <p class="form-control-static">{{ form.parecer_farmaceutico(class="form-control", style="height: 200px") }}</p>
                    </div>
                </div>

            </div>
            <div class="card-footer">
              {{ form.submit(class="btn btn-success float-right") }}
            </div>
        </div>

        </form>
    </div>
</div>

{% endblock content %}