{% extends "base-site.html" %}

{% from "macros/delete_confirmacao.html" import confirma_delete %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-2 form-group">
                         {{ search_form.cpf.label() }}
                         {{ search_form.cpf(class="form-control") }}
                     </div>
                     <div class="col-sm-4 form-group">
                            {{ search_form.nome.label() }}
                            {{ search_form.nome(class="form-control") }}
                     </div>
                        <div class="col-sm-6 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"><strong>Avaliação da farmacoterapia</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Nome paciente</th>
                            <th>CPF</th>
                            <th>Patologia</th>
                            <th>Data da avaliação</th>
                            <th>Qtd de retornos</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for avaliacao in avaliacoes_farmacoterapias.items %}
                        <tr>
                            <td>{{ avaliacao.paciente.nome }}</td>
                            <td>{{ avaliacao.paciente.cpf }}</td>
                            <td>{{ avaliacao.dispensacao_medicamento.estado_situacional.patologia }}</td>
                            <td>{{ avaliacao.register_in.strftime('%d/%m/%Y') }}</td>
                            <td>{{ avaliacao.retornos|length }}</td>
                            <td>
                             <div class="btn-group" role="group">
                                 <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.detalhe_atendimento', id_paciente=avaliacao.paciente.id) }}'">
                                     <svg class="c-icon">
                                         <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                                     </svg> Detalhes
                                 </button>
                                 <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.cadastrar_retorno', id_avaliacao_farmacoterapia=avaliacao.id) }}'">
                                     <svg class="c-icon">
                                         <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
                                     </svg> Retorno
                                 </button>
                                 {% if avaliacao.retornos|length > 0 %}
                                 <button class="btn btn-danger" type="button" disabled>
                                    <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                    </svg> Excluir
                                </button>
                                 {% else %}
                                <button class="btn btn-warning" type="button" onclick="location.href='{{ url_for('questionario_blueprint.editar_avaliacao_farmacoterapia', id_avaliacao_farmacoterapia=avaliacao.id) }}'">
                                    <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>
                                    </svg> Editar
                                </button>
                                <button class="btn btn-danger deleteButton" type="button" data-toggle="modal" data-target="#confirmModal" data-param="{{ avaliacao.id }}">
                                    <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                    </svg> Excluir
                                </button>
                                {% endif %}
                             </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(avaliacoes_farmacoterapias, 'questionario_blueprint.listar_avaliacao_farmacoterapia', avaliacoes_farmacoterapias.prev_num, avaliacoes_farmacoterapias.next_num) }}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    {{ confirma_delete("confirmModal", "questionario_blueprint.apagar_avaliacao_farmacoterapia", "avaliacao.id") }}

{% endblock content %}
