{% extends "base-site.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<style>
label.thick {
  font-weight: bold;
}
.card-header.thick {
  font-weight: bold;
}
</style>

<div class="container-fluid">
    <div class="fade-in">

        {% if estado_situacional != None %}
        <div class="card">
            <div class="card-header"><strong>Estado situacional</strong>
                <div class="card-header-actions">
                    Atendido por: {{ estado_situacional.user.name }}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="thick">Informações do paciente</label>
                        <p>{{ estado_situacional.paciente.nome }}, {{ estado_situacional.paciente.sexo }}, {{ ((hoje - estado_situacional.paciente.data_nascimento).days/365)|int }} anos</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="thick">Data de atendimento</label>
                        <p>{{ estado_situacional.register_in.strftime('%d/%m/%Y') }}</p>
                    </div>
                    <div class="col-sm-12"><hr></div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="thick">Patologia</label>
                        <p>{{ estado_situacional.patologia }}</p>
                        <label class="thick">Comorbidades</label>
                        <p>{{ estado_situacional.comorbidades|replace('|', ', ') }}</p>
                    </div>
                    <div class="col-sm-4">
                        <label class="thick">Alergias a alimentos</label>
                        <p>{{ estado_situacional.alergia_alimentos|replace('|', ', ') }}</p>
                        <label class="thick">Alergia a medicamentos</label>
                        <p>{{ estado_situacional.alergia_medicamentos|replace('|', ', ') }}</p>
                    </div>
                    <div class="col-sm-4">
                        <label class="thick">Estilo de vida</label>
                        <p>{{ estado_situacional.estilos_vida|replace('|', ', ') }}</p>
                        <label class="thick">Preocupações de saúde</label>
                        <p>{{ estado_situacional.preocupacoes }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="thick">Farmacoterapia prévia - {{ estado_situacional.farmacoterapia|length }} medicamento(s)</label>
                        <div id="estadoFarmacoterapiaAccordion" data-children=".item">
                            <ul>
                            {% for farmacoterapia in estado_situacional.farmacoterapia %}
                                <li>
                                    <div class="item"><a data-toggle="collapse" data-parent="#estadoFarmacoterapiaAccordion" href="#estado-farmacoterapia-{{ loop.index }}" aria-expanded="true" aria-controls="#estado-farmacoterapia-{{ loop.index }}">{{ farmacoterapia.nome_remedio }}</a>
                                      <div class="collapse" id="estado-farmacoterapia-{{ loop.index }}" role="tabpanel">
                                        <br>
                                        <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="thick">Nome do remédio</label>
                                                    <p>{{ farmacoterapia.nome_remedio }}</p>
                                                    <label class="thick">Concentração</label>
                                                    <p>{{ farmacoterapia.concentracao }}</p>
                                                    <label class="thick">Forma farmacêutica</label>
                                                    <p>{{ farmacoterapia.forma_farmaceutica }}</p>
                                                    <label class="thick">Finalidade</label>
                                                    <p>{{ farmacoterapia.finalidade }}</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="thick">Como foi prescrito</label>
                                                    <p>{{ farmacoterapia.como_prescrito }}</p>
                                                    <label class="thick">Como toma</label>
                                                    <p>{{ farmacoterapia.como_toma }}</p>
                                                    <label class="thick">Quem receitou</label>
                                                    <p>{{ farmacoterapia.quem_receitou }}</p>
                                                    <label class="thick">Observações</label>
                                                    <p>{{ farmacoterapia.observacoes }}</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="thick">Produz efeito</label>
                                                    {% if farmacoterapia.produz_efeito %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                    <label class="thick">Dificuldade em adquirir</label>
                                                    {% if farmacoterapia.dificuldade_adquirir %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                    <label class="thick">Dificuldade em administrar</label>
                                                    {% if farmacoterapia.dificuldade_administrar %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                    <label class="thick">Reação adversa</label>
                                                    {% if farmacoterapia.reacao_adversa %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                      </div>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if dispensacao_medicamento != None %}
        <div class="card">
            <div class="card-header"><strong>Dispensação de medicamentos</strong>
                <div class="card-header-actions">
                    Atendido por: {{ dispensacao_medicamento.user.name }}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="thick">Medicamentos</label>
                        {% if tratamentos !=None %}
                        <ul>
                        {% for tratamento in tratamentos %}
                        <li><a href="{{ url_for('tratamento_blueprint.detalhar_tratamento', id_tratamento=tratamento.id) }}">{{ tratamento.medicamento }} {{ tratamento.concentracao }} {{ tratamento.forma_farmaceutica }}</a></li>
                        {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="col-sm-3">
                        <label class="thick">Data de atendimento</label>
                        <p>{{ dispensacao_medicamento.register_in.strftime('%d/%m/%Y') }}</p>
                    </div>
                    <div class="col-sm-3">
                        <label class="thick">Data de retorno</label>
                        <p>{{ dispensacao_medicamento.data_retorno.strftime('%d/%m/%Y') }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if avaliacao_medicamento != None %}
        <div class="card">
            <div class="card-header"><strong>Avaliação</strong>
                <div class="card-header-actions">
                    Atendido por: {{ avaliacao_medicamento.user.name }}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong><u>Necessidade</u></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_necessidade_p1 }}</label>
                                <p>{{ avaliacao_medicamento.necessidade_p1 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_necessidade_p2 }}</label>
                                <p>{{ avaliacao_medicamento.necessidade_p2 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">Observação</label>
                                <p>{{ avaliacao_medicamento.necessidade_obs }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong><u>Adesão</u></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_adesao_p1 }}</label>
                                <p>{{ avaliacao_medicamento.adesao_p1 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_adesao_p2 }}</label>
                                <p>{{ avaliacao_medicamento.adesao_p2 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">Observação</label>
                                <p>{{ avaliacao_medicamento.adesao_obs }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <label><strong><u>Efetividade e segurança por medicamento</u></strong></label>
                        </div>
                    </div>
                        <div id="farmacoterapiaAccordion" data-children=".item">
                            <ul>
                                {% for subitem in avaliacao_medicamento.efetividades_segurancas %}
                                <li>
                                    <div class="item"><a data-toggle="collapse" data-parent="#farmacoterapiaAccordion" href="#farmacoterapia-{{ loop.index }}" aria-expanded="true" aria-controls="#farmacoterapia-{{ loop.index }}">{{subitem.farmacoterapia.nome_remedio}}</a>
                                      <div class="collapse" id="farmacoterapia-{{ loop.index }}" role="tabpanel">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label><strong><u>Efetividade</u></strong></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_efetividade_p1 }}</label>
                                                <p>{{ subitem.efetividade_p1 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_efetividade_p2 }}</label>
                                                <p>{{ subitem.efetividade_p2 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">Observação</label>
                                                <p>{{ subitem.efetividade_obs }}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label><strong><u>Segurança</u></strong></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_seguranca_p1 }}</label>
                                                <p>{{ subitem.seguranca_p1 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_seguranca_p2 }}</label>
                                                <p>{{ subitem.seguranca_p2 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">Observação</label>
                                                <p>{{ subitem.seguranca_obs }}</p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong><u>Questões complementares</u></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p1 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p1 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p2 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p2 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p3 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p3 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p4 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p4 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p7 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p7 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p6 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p6 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p5 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p5 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p8 }}</label>
                                <p>{{ avaliacao_medicamento.outras_obs_p8 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">Observações</label>
                                <p>{{ avaliacao_medicamento.outras_perguntas_obs }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label class="col-form-label"><strong><u>Análise</u></strong></label>
                        <p class="form-control-static">{{ avaliacao_medicamento.parecer_farmaceutico }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if retornos != None and retornos|length > 0 %}
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <label class="control-label mr-auto p-0"><strong>Históricos de retornos</strong></label>
                </div>
            </div>
            <div class="card-body">
                {% for retorno in retornos %}
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="thick">Atendido por: </label>
                            <label>{{ retorno.user.name }}</label>
                        </div>
                        <div class="form-group">
                            <label class="thick">Compareceu à consulta?</label>
                            <label>
                                {% if retorno.compareceu %}
                                Sim, em {{ retorno.register_in.strftime('%d/%m/%Y') }}
                                {% else %}
                                Não
                                {% endif %}
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="thick">Agendou outro retorno?</label>
                            <label>
                                {% if retorno.data_retorno != None %}
                                Sim, para {{ retorno.data_retorno.strftime('%d/%m/%Y') }}
                                {% else %}
                                Não
                                {% endif %}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="thick">Observações</label>
                            <p>{{ retorno.observacoes }}</p>
                        </div>
                    </div>
                </div>
                {% if loop.index <= retornos|length-1 %}<hr>{% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
</div>

{% endblock content %}