{% extends "base-site.html" %}

{% from "macros/delete_confirmacao.html" import confirma_delete %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-2 form-group">
                         {{ search_form.cpf.label() }}
                         {{ search_form.cpf(class="form-control") }}
                     </div>
                     <div class="col-sm-4 form-group">
                            {{ search_form.nome.label() }}
                            {{ search_form.nome(class="form-control") }}
                     </div>
                        <div class="col-sm-6 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"><strong>Dispensações de medicamentos</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Nome paciente</th>
                            <th>CPF</th>
                            <th>Patologia</th>
                            <th>Data de dispensação</th>
                            <th>Qtd de medicamentos</th>
                            <th>Data de retorno</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                            {% for dispensacao in dispensacoes_medicamentosas.items %}
                            {% set medicamentos = dispensacao.id_medicamentos.split(',') %}
                            <td>{{ dispensacao.paciente.nome }}</td>
                            <td>{{ dispensacao.paciente.cpf }}</td>
                            <td>{{ dispensacao.estado_situacional.patologia }}</td>
                            <td>{{ dispensacao.register_in.strftime('%d/%m/%Y') }}</td>
                            <td>{{ medicamentos|length }}</td>
                            <td>{{ dispensacao.data_retorno.strftime('%d/%m/%Y') }}</td>
                             <td>
                                 <div class="btn-group" role="group">
                                    <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.detalhe_atendimento', id_paciente=dispensacao.paciente.id) }}'">
                                        <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                                        </svg> Detalhes
                                    </button>
                                    {% if dispensacao.avaliacao_farmacoterapia.id is defined %}
                                    <button class="btn btn-info" type="button" disabled>
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
                                        </svg> Avaliar
                                    </button>
                                    <button class="btn btn-danger" type="button" disabled>
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                        </svg> Excluir
                                    </button>
                                    {% else %}
                                    <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.cadastrar_avaliacao_farmacoterapia', id_dispensacao_medicamento=dispensacao.id) }}'">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
                                        </svg> Avaliar
                                    </button>
                                    <button class="btn btn-danger deleteButton" type="button" data-toggle="modal" data-target="#confirmModal" data-param="{{ dispensacao.id }}">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                        </svg> Excluir
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(dispensacoes_medicamentosas, 'questionario_blueprint.listar_dispensacao_medicamento', dispensacoes_medicamentosas.prev_num, dispensacoes_medicamentosas.next_num) }}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    {{ confirma_delete("confirmModal", "questionario_blueprint.apagar_dispensacao_medicamento", "dispensacao.id") }}

{% endblock content %}
