{% extends "base-site.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<style>
#checkbox-medicamentos ul {
  list-style: none;
  padding-left:0;
}
.card.text-white.bg-success{
    margin-right: 20px;
}

label.thick {
  font-weight: bold;
}
.card-header.thick {
  font-weight: bold;
}

</style>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">

<script>
 $(document).ready(function(){
      $("#my-date").datepicker({
          dateFormat: 'dd/mm/yy',
          dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
          dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
          dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
          monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
          monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
          nextText: 'Próximo',
          prevText: 'Anterior'
      });

      var qtdMedicamentos = $('#ul-medicamentos-links > li:visible').length;
      if(qtdMedicamentos == 0){
        $('#scrollspy-info-medicamentos').hide();
      }

  });

// ids dos medicamentos escolhidos
var idsMedicamentos = [];

// tratamento para exibir corretamente as abas do scrollspy
$(document).on('change','.select-medicamento', function(){
    var $this = $(this);
    if ($this.is(':checked')){
      $('#scrollspy-info-medicamentos').show();
      $('#spy-dispensacao').scrollTop(0);
      $("."+"medicamentacao-scroll-"+this.value).prependTo("#ul-medicamentos-links");
      $('#ul-medicamentos-links li:first > a').addClass("active");
      $('#ul-medicamentos-links li:not(:first) > a').removeClass("active");
      $("."+"medicamentacao-scroll-"+this.value).show();
      $("."+"medicamentacao-scroll-text-"+this.value).prependTo("#spy-dispensacao");
      $("."+"medicamentacao-scroll-text-"+this.value).show();
      //adicionando item na lista
      idsMedicamentos.push(this.value);
    }else{
      $('#spy-dispensacao').scrollTop(0);
      $("."+"medicamentacao-scroll-"+this.value).hide();
      $("."+"medicamentacao-scroll-text-"+this.value).hide();
      $('#ul-medicamentos-links > li:visible:first > a').addClass("active");

      qtdMedicamentos = $('#ul-medicamentos-links > li:visible').length;
      if(qtdMedicamentos == 0){
        $('#scrollspy-info-medicamentos').hide();
      }

      //removendo item da lista
      var index = idsMedicamentos.indexOf(this.value);
      if (index > -1) {
        idsMedicamentos.splice(index, 1);
      }
    }
    //alert(idsMedicamentos);
    $('#remedios_dispensados').val(idsMedicamentos);
});
</script>

<div class="container-fluid">
    <div class="fade-in">

      <div class="card">
            <div class="card-header"><strong>Estado situacional</strong>
                <div class="card-header-actions">
                    Atendido por: {{ estado_situacional.user.name }}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="thick">Informações do paciente</label>
                        <p>{{ estado_situacional.paciente.nome }}, {{ estado_situacional.paciente.sexo }}, {{ ((hoje - estado_situacional.paciente.data_nascimento).days/365)|int }} anos</p>
                    </div>
                    <div class="col-sm-6">
                        <label class="thick">Data de atendimento</label>
                        <p>{{ estado_situacional.register_in.strftime('%d/%m/%Y') }}</p>
                    </div>
                    <div class="col-sm-12"><hr></div>

                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label class="thick">Patologia</label>
                        <p>{{ estado_situacional.patologia }}</p>
                        <label class="thick">Comorbidades</label>
                        <p>{{ estado_situacional.comorbidades|replace('|', ', ') }}</p>
                    </div>
                    <div class="col-sm-4">
                        <label class="thick">Alergias a alimentos</label>
                        <p>{{ estado_situacional.alergia_alimentos|replace('|', ', ') }}</p>
                        <label class="thick">Alergia a medicamentos</label>
                        <p>{{ estado_situacional.alergia_medicamentos|replace('|', ', ') }}</p>
                    </div>
                    <div class="col-sm-4">
                        <label class="thick">Estilo de vida</label>
                        <p>{{ estado_situacional.estilos_vida|replace('|', ', ') }}</p>
                        <label class="thick">Preocupações de saúde</label>
                        <p>{{ estado_situacional.preocupacoes }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label class="thick">Farmacoterapia prévia - {{ estado_situacional.farmacoterapia|length }} medicamento(s)</label>
                        <div id="estadoFarmacoterapiaAccordion" data-children=".item">
                            <ul>
                            {% for farmacoterapia in estado_situacional.farmacoterapia %}
                                <li>
                                    <div class="item"><a data-toggle="collapse" data-parent="#estadoFarmacoterapiaAccordion" href="#estado-farmacoterapia-{{ loop.index }}" aria-expanded="true" aria-controls="#estado-farmacoterapia-{{ loop.index }}">{{ farmacoterapia.nome_remedio }}</a>
                                      <div class="collapse" id="estado-farmacoterapia-{{ loop.index }}" role="tabpanel">
                                        <br>
                                        <div class="row">
                                                <div class="col-sm-4">
                                                    <label class="thick">Nome do remédio</label>
                                                    <p>{{ farmacoterapia.nome_remedio }}</p>
                                                    <label class="thick">Concentração</label>
                                                    <p>{{ farmacoterapia.concentracao }}</p>
                                                    <label class="thick">Forma farmacêutica</label>
                                                    <p>{{ farmacoterapia.forma_farmaceutica }}</p>
                                                    <label class="thick">Finalidade</label>
                                                    <p>{{ farmacoterapia.finalidade }}</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="thick">Como foi prescrito</label>
                                                    <p>{{ farmacoterapia.como_prescrito }}</p>
                                                    <label class="thick">Como toma</label>
                                                    <p>{{ farmacoterapia.como_toma }}</p>
                                                    <label class="thick">Quem receitou</label>
                                                    <p>{{ farmacoterapia.quem_receitou }}</p>
                                                    <label class="thick">Observações</label>
                                                    <p>{{ farmacoterapia.observacoes }}</p>
                                                </div>
                                                <div class="col-sm-4">
                                                    <label class="thick">Produz efeito</label>
                                                    {% if farmacoterapia.produz_efeito %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                    <label class="thick">Dificuldade em adquirir</label>
                                                    {% if farmacoterapia.dificuldade_adquirir %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                    <label class="thick">Dificuldade em administrar</label>
                                                    {% if farmacoterapia.dificuldade_administrar %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                    <label class="thick">Reação adversa</label>
                                                    {% if farmacoterapia.reacao_adversa %}
                                                    <p>Sim</p> {% else %} <p>Não</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                      </div>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <div class="card">
            <div class="card-header"><strong>Dispensação de medicamentos</strong></div>
            <div class="card-body">

              <div id="checkbox-medicamentos">
                <label class="thick">Escolha dos medicamentos ({{ estado_situacional.patologia }})</label>
                <ul>
                  {% for medicamento in medicamentos %}
                  <li><input type="checkbox" value="{{ medicamento.id }}" class="select-medicamento"> {{ medicamento.medicamento }} {{ medicamento.concentracao }} {{ medicamento.forma_farmaceutica }}</li>
                  {% endfor %}
                </ul>
              </div>

              <div id="scrollspy-info-medicamentos" class="scrollspy-example1">
                <nav class="navbar navbar-light bg-light" id="navbar-dispensacao" style="padding: .5rem 1rem;"><a class="navbar-brand" href="#"></a>
                  <ul id="ul-medicamentos-links" class="nav nav-pills" role="tablist">
                    {% for medicamento in medicamentos %}
                      {% if loop.index==1 %}
                      <li class="nav-item medicamentacao-scroll-{{ medicamento.id }}" style="display: none;"><a class="nav-link active" href="#dispensacao-{{ medicamento.id }}">{{ medicamento.medicamento }} {{ medicamento.concentracao }} {{ medicamento.forma_farmaceutica }}</a></li>
                      {% else %}
                      <li class="nav-item medicamentacao-scroll-{{ medicamento.id }}" style="display: none;"><a class="nav-link" href="#dispensacao-{{ medicamento.id }}">{{ medicamento.medicamento }} {{ medicamento.concentracao }} {{ medicamento.forma_farmaceutica }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </nav>
                <div id="spy-dispensacao" data-spy="scroll" data-target="#navbar-dispensacao" data-offset="65" style="position: relative; height: 400px; overflow: auto; margin-top: .5rem; overflow-y: scroll;">
                  {% for medicamento in medicamentos %}
                  <div class="medicamentacao-scroll-text-{{ medicamento.id }}" style="display: none;">
                    <p id="dispensacao-{{ medicamento.id }}"><strong>{{ medicamento.medicamento|safe }} {{ medicamento.concentracao|safe }} {{ medicamento.forma_farmaceutica|safe }}</strong></p>
                    <label class="thick">Forma de administração</label>
                    <p>{{ medicamento.forma_administracao|safe }}</p>
                    <label class="thick">Principais RAMs</label>
                    <p>{{ medicamento.principais_rams|safe }}</p>
                    <label class="thick">Cuidados especiais</label>
                    <p>{{ medicamento.cuidados_especiais|safe }}</p>
                    <label class="thick">Armazenamento e transporte</label>
                    <p>{{ medicamento.armazenamento_transporte|safe }}</p>
                    <div class="card text-white bg-success">
                      <div class="card-header"><strong>Informações ao farmacêutico/acadêmico</strong></div>
                      <div class="card-body">
                        <label class="thick">Dose usual</label>
                        <p>{{ medicamento.dose_usual|safe }}</p>
                        <label class="thick">Associações na literatura</label>
                        <p>{{ medicamento.associacoes_literatura|safe }}</p>
                        <label class="thick">Indicações de mecanismo</label>
                        <p>{{ medicamento.indicacoes_mecanismo|safe }}</p>
                        <label class="thick">Interações graves</label>
                        <p>{{ medicamento.interacoes_graves|safe }}</p>
                        <label class="thick">Interações do medicamento com doenças</label>
                        <p>{{ medicamento.relacao_medicamento_doenca|safe }}</p>
                        <label class="thick">Interações medicamento/alimento</label>
                        <p>{{ medicamento.interacoes_medicamento_alimento|safe }}</p>
                        <label class="thick">Ajuste de dose</label>
                        <p>{{ medicamento.ajuste_dose|safe }}</p>
                        <label class="thick">Risco na gravidez</label>
                        <p>{{ medicamento.risco_gravidez|safe }}</p>
                      </div>
                    </div>
                    <label class="thick">Referências</label>
                    <p>{{ medicamento.referencia|safe }}</p>
                    <hr>
                  </div>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
      <form role="form" method="post">
      <div class="card">
            <div class="card-header"><strong>Envio do formulário</strong></div>
            <div class="card-body">
              {{ error_form(form) }}
              {{ form.hidden_tag() }}
              <div class="row">
                  <div class="form-group col-sm-2">
                    {{ form.data_retorno.label(class="thick") }}
                    {{ form.data_retorno(class="form-control form-date", id="my-date") }}
                  </div>
                  <div class="form-group col-sm-6">
                    <div class="form-check">
                    {{ form.check_academico(class="form-check-input") }}
                    {{ form.check_academico.label(class="form-check-label") }}
                    </div>
                  </div>
                  <div class="form-group col-sm-4">
                    {{ form.remedios_dispensados(class="form-control") }}
                  </div>
              </div>
            </div>
            <div class="card-footer">
              {{ form.submit(class="btn btn-success float-right") }}
            </div>
          </div>
      </form>
    </div>
</div>

{% endblock content %}