{% extends "base-site.html" %}

{% block title %} Estado situacional {% endblock %}

{% from "macros/outras_opcoes.html" import add_input, add_historico_remedio_form, container_outra_opcao %}

{% block content %}
<style>
.is-hidden {
    display: none;
}

</style>
<script>
    /**
     * Adjust the indices of form fields when removing items.
     */
    function adjustIndices(removedIndex) {
        var $forms = $('.subform');

        $forms.each(function(i) {
            var $form = $(this);
            var index = parseInt($form.data('index'));
            var newIndex = index - 1;

            if (index < removedIndex) {
                // Skip
                return true;
            }

            // Change ID in form itself
            $form.attr('id', $form.attr('id').replace(index, newIndex));
            $form.data('index', newIndex);

            // Change IDs in form inputs
            $form.find('input').each(function(j) {
                var $item = $(this);
                $item.attr('id', $item.attr('id').replace(index, newIndex));
                $item.attr('name', $item.attr('name').replace(index, newIndex));
            });
        });
    }

    /**
     * Remove a form.
     */
    function removeForm() {
        var $removedForm = $(this).closest('.subform');
        var removedIndex = parseInt($removedForm.data('index'));

        $removedForm.remove();

        // Update indices
        adjustIndices(removedIndex);
    }

    function addForm(templateFormId, templateToAppend) {
        //var $templateForm = $('#outra-_-form');
        var $templateForm = $(templateFormId);

        if (!$templateForm) {
            console.log('[ERROR] Cannot find template');
            return;
        }

        // Get Last index
        var $lastForm = $('.subform').last();

        var newIndex = 0;

        if ($lastForm.length > 0) {
            newIndex = parseInt($lastForm.data('index')) + 1;
        }

        // Maximum of 50 subforms
        if (newIndex > 50) {
            console.log('[WARNING] Reached maximum number of elements');
            return;
        }

        // Add elements
        var $newForm = $templateForm.clone();

        $newForm.attr('id', $newForm.attr('id').replace('_', newIndex));
        $newForm.data('index', newIndex);

        $newForm.find('input').each(function(idx) {
            var $item = $(this);

            $item.attr('id', $item.attr('id').replace('_', newIndex));
            $item.attr('name', $item.attr('name').replace('_', newIndex));
        });

        // Append
        $(templateToAppend).append($newForm);
        //$('#subforms-container').append($newForm);
        $newForm.addClass('subform');
        $newForm.removeClass('is-hidden');

        $newForm.find('.remove').click(removeForm);

        $(templateToAppend).removeClass('is-hidden');
        //$('#subforms-container').removeClass('is-hidden');
    }

    $(document).ready(function() {
        $('#add-comorbidades').click(function(){
            addForm('#outrasComorbidades-_-form', '#comorbidades-subform-container')
        });
        $('#add-estilos-vida').click(function(){
            addForm('#outrasEstiloVida-_-form', '#estilos-subform-container')
        });
        $('#add-alergia-medicamento').click(function(){
            addForm('#outrasAlergiasMedicamentos-_-form', '#alergia-medicamento-subform-container')
        });
        $('#add-alergia-alimento').click(function(){
            addForm('#outrasAlergiasAlimentos-_-form', '#alergia-alimento-subform-container')
        });

        $('#add-historico-medicamento').click(function(){
            addForm('#historicoRemediosUsados-_-form', '#historico-medicamento-subform-container')
        });

        $('.remove').click(removeForm);

    });
</script>

<div class="container-fluid">
    <div class="fade-in">
        <form role="form" method="post">
        {{ error_form(form) }}
        {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-sm-12">

                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <label class="control-label mr-auto p-0"><strong>Paciente</strong></label>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><strong>Nome:</strong> {{ paciente.nome }}</p>
                            <p><strong>Sexo:</strong> {{ paciente.sexo }}</p>
                            <p><strong>Idade:</strong> {{ ((hoje - paciente.data_nascimento).days/365)|int }} anos</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="card" id="perfil-paciente">
                        <div class="card-header"><strong>Perfil do paciente</strong></div>
                        <div class="card-body">
                            <fieldset class="form-group">
                                <strong><label class="control-label">Patologia</label></strong>
                                {% for patologia in form.patologias %}
                                    <div class="form-check">
                                        {{ patologia(class="form-check-input") }}
                                        {{ patologia.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="d-flex align-items-center">
                                    <label class="control-label mr-auto p-0"><strong>Comorbidades</strong></label>
                                    <a class="pull-right" id="add-comorbidades" href="#!">Adicionar</a>
                                </div>
                                {% for comorbidade in form.comorbidades %}
                                    <div class="form-check">
                                        {{ comorbidade(class="form-check-input") }}
                                        {{ comorbidade.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                                {{ container_outra_opcao("comorbidades-subform-container") }}
                            </fieldset>

                            <fieldset class="form-group">
                                <strong>{{ form.preocupacao.label(class="control-label") }}</strong>
                                {{ form.preocupacao(class="form-control", maxlength="500") }}
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="d-flex align-items-center">
                                    <label class="control-label mr-auto p-0"><strong>Alergia a medicamentos</strong></label>
                                    <a id="add-alergia-medicamento" href="#!">Adicionar</a>
                                </div>
                                {% for alergia_medicamento in form.alergias_medicamentos %}
                                    <div class="form-check">
                                        {{ alergia_medicamento(class="form-check-input") }}
                                        {{ alergia_medicamento.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                                {{ container_outra_opcao("alergia-medicamento-subform-container") }}
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="d-flex align-items-center">
                                    <label class="control-label mr-auto p-0"><strong>Alergia a alimentos</strong></label>
                                    <a id="add-alergia-alimento" href="#!">Adicionar</a>
                                </div>
                                {% for alergia_alimento in form.alergias_alimentos %}
                                    <div class="form-check">
                                        {{ alergia_alimento(class="form-check-input") }}
                                        {{ alergia_alimento.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                                {{ container_outra_opcao("alergia-alimento-subform-container") }}
                            </fieldset>

                            <fieldset class="form-group">
                                <div class="d-flex align-items-center">
                                    <label class="control-label mr-auto p-0"><strong>Estilo de vida</strong></label>
                                    <a id="add-estilos-vida" href="#!">Adicionar</a>
                                </div>
                                {% for estilo_vida in form.estilos_vida %}
                                    <div class="form-check">
                                        {{ estilo_vida(class="form-check-input") }}
                                        {{ estilo_vida.label(class="form-check-label") }}
                                    </div>
                                {% endfor %}
                                {{ container_outra_opcao("estilos-subform-container") }}
                            </fieldset>
                            {{ add_input("outrasComorbidades-_-form", "outrasComorbidades-_-outra") }}
                            {{ add_input("outrasEstiloVida-_-form", "outrasEstiloVida-_-outra") }}
                            {{ add_input("outrasAlergiasMedicamentos-_-form", "outrasAlergiasMedicamentos-_-outra") }}
                            {{ add_input("outrasAlergiasAlimentos-_-form", "outrasAlergiasAlimentos-_-outra") }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card" id="dados-farmacoterapia">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <label class="control-label mr-auto p-0"><strong>Dados da farmacoterapia prévia</strong></label>
                                <a id="add-historico-medicamento" href="#!">Adicionar</a>
                            </div>
                        </div>
                        <div class="card-body">
                            {{ container_outra_opcao("historico-medicamento-subform-container") }}
                            {{ add_historico_remedio_form() }}
                        </div>
                        <div class="card-footer">
                            {{ form.submit(class_="btn btn-success float-right") }}
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}