<div class="modal-body">
<p><strong>Buscar paciente</strong></p>
<form method="post" id="buscaPaciente">
     {{ search_form.hidden_tag() }}
     <div class="row">
         <div class="col-sm-2 form-group">
             {{ search_form.cpf.label() }}
             {{ search_form.cpf(class="form-control", id="cpf") }}
         </div>
         <div class="col-sm-4 form-group">
                {{ search_form.nome.label() }}
                {{ search_form.nome(class="form-control", id="nome") }}
         </div>
            <div class="col-sm-6 form-group align-self-end">
              {{ search_form.submit(class="btn btn-success") }}
            </div>
     </div>
 </form>

<p><strong>Pacientes</strong></p>
<table class="table table-responsive-sm table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data nascimento</th>
                <th>Sexo</th>
                <th>Cadastrado em</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
             <tr>
                {% for paciente in pacientes %}
                <td>{{ paciente.nome }}</td>
                <td>{{ paciente.cpf }}</td>
                <td>{{ paciente.data_nascimento.strftime('%d/%m/%Y') }}</td>
                <td>{{ paciente.sexo }}</td>
                <td>{{ paciente.register_in.strftime('%d/%m/%Y') }}</td>
                <td>
                    <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.cadastrar_estado_situacional', paciente=paciente.cpf) }}'">
                        <svg class="c-icon">
                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
                        </svg> Criar
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>