{% extends "base-site.html" %}

{% from "macros/delete_confirmacao.html" import confirma_delete %}

{% block title %} Estados situacionais {% endblock %}

{% block content %}

<style>
    .btn-space {
    margin-right: 5px;
}
</style>

<script>
$(document).ready(function(){
  $("#addUserButton").click(function(){
    var url = "{{ url_for('questionario_blueprint.selecionar_pessoa_estado_situacional') }}"
    $.get(url, function(data, status){
      $('#selectPacienteModal .modal-content').html(data);
      $('#selectPacienteModal').modal();

      $('body').on('submit','#buscaPaciente', function() {
        event.preventDefault();
        $.post(url, data=$('#buscaPaciente').serialize(), function(data) {
          if (data.status == 'ok') {
            cpf = $('#cpf').val();
            nome = $('#nome').val();
            var url = Flask.url_for('questionario_blueprint.selecionar_pessoa_estado_situacional', {"cpf": cpf, "nome": nome});
            $.get(url, function(data, status){
              $('#selectPacienteModal .modal-content').html(data);
              $('#selectPacienteModal').modal();
              })
          }
        });
      });

    });
  });
});
</script>

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-2 form-group">
                         {{ search_form.cpf.label() }}
                         {{ search_form.cpf(class="form-control") }}
                     </div>
                     <div class="col-sm-4 form-group">
                            {{ search_form.nome.label() }}
                            {{ search_form.nome(class="form-control") }}
                     </div>
                        <div class="col-sm-6 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"><strong>Estados situacionais</strong>
                <div class="card-header-actions">
                  <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#selectPacienteModal" id="addUserButton">
                    <svg class="c-icon">
                      <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user-follow"></use>
                    </svg> Adicionar
                  </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                              <th>Cadastrado em</th>
                              <th>Nome paciente</th>
                              <th>CPF</th>
                              <th>Patologia</th>
                              <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                            {% for estado_situacional in estados_situacionais.items %}
                             <td>{{ estado_situacional.register_in.strftime('%d/%m/%Y') }}</td>
                             <td>{{ estado_situacional.paciente.nome }}</td>
                             <td>{{ estado_situacional.paciente.cpf }}</td>
                             <td>{{ estado_situacional.patologia }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.detalhe_atendimento', id_paciente=estado_situacional.paciente.id) }}'">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                                        </svg> Detalhes
                                    </button>
                                    {% if estado_situacional.dispensacao_medicamento.id is defined %}
                                    <button class="btn btn-info" type="button" disabled>
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
                                        </svg> Dispensar med.
                                    </button>
                                    <button class="btn btn-danger" type="button" disabled>
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                        </svg> Excluir
                                    </button>
                                    {% else %}
                                    <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.cadastrar_dispensacao_medicamento', id_estado_situacional=estado_situacional.id) }}'">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-external-link"></use>
                                        </svg> Dispensar med.
                                    </button>
                                    <button class="btn btn-danger deleteButton" type="button" data-toggle="modal" data-target="#confirmModal" data-param="{{ estado_situacional.id }}">
                                        <svg class="c-icon">
                                            <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                        </svg> Excluir
                                    </button>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(estados_situacionais, 'questionario_blueprint.listar_estado_situacional', estados_situacionais.prev_num, estados_situacionais.next_num) }}
                    </div>
                </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="selectPacienteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                </div>
            </div>
        </div>

    </div>

    {{ confirma_delete("confirmModal", "questionario_blueprint.apagar_estado_situacional", "estado_situacional.id") }}

{% endblock content %}
