{% extends "base-site.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css">

<script>
 $(document).ready(function(){
      $("#my-date").datepicker({
          dateFormat: 'dd/mm/yy',
          dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
          dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
          dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
          monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
          monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
          nextText: 'Próximo',
          prevText: 'Anterior'
      });
  });
</script>

<style>
label.thick {
  font-weight: bold;
}
</style>

<div class="container-fluid">
    <div class="fade-in">
        <!--Avaliação-->
        <div class="card">
            <div class="card-header"><strong>Avaliação</strong>
                <div class="card-header-actions">
                    Atendido por: {{ avaliacao_farmacoterapia.user.name }}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong><u>Necessidade</u></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_necessidade_p1 }}</label>
                                <p>{{ avaliacao_farmacoterapia.necessidade_p1 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_necessidade_p2 }}</label>
                                <p>{{ avaliacao_farmacoterapia.necessidade_p2 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">Observação</label>
                                <p>{{ avaliacao_farmacoterapia.necessidade_obs }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong><u>Adesão</u></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_adesao_p1 }}</label>
                                <p>{{ avaliacao_farmacoterapia.adesao_p1 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_adesao_p2 }}</label>
                                <p>{{ avaliacao_farmacoterapia.adesao_p2 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">Observação</label>
                                <p>{{ avaliacao_farmacoterapia.adesao_obs }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <label><strong><u>Efetividade e segurança por medicamento</u></strong></label>
                        </div>
                    </div>
                        <div id="farmacoterapiaAccordion" data-children=".item">
                            <ul>
                                {% for subitem in avaliacao_farmacoterapia.efetividades_segurancas %}
                                <li>
                                    <div class="item"><a data-toggle="collapse" data-parent="#farmacoterapiaAccordion" href="#farmacoterapia-{{ loop.index }}" aria-expanded="true" aria-controls="#farmacoterapia-{{ loop.index }}">{{subitem.farmacoterapia.nome_remedio}}</a>
                                      <div class="collapse" id="farmacoterapia-{{ loop.index }}" role="tabpanel">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label><strong><u>Efetividade</u></strong></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_efetividade_p1 }}</label>
                                                <p>{{ subitem.efetividade_p1 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_efetividade_p2 }}</label>
                                                <p>{{ subitem.efetividade_p2 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">Observação</label>
                                                <p>{{ subitem.efetividade_obs }}</p>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label><strong><u>Segurança</u></strong></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_seguranca_p1 }}</label>
                                                <p>{{ subitem.seguranca_p1 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">{{ avaliacao_sub_form.msg_seguranca_p2 }}</label>
                                                <p>{{ subitem.seguranca_p2 }}</p>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="thick">Observação</label>
                                                <p>{{ subitem.seguranca_obs }}</p>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-4">
                                <label><strong><u>Questões complementares</u></strong></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p1 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p1 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p2 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p2 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p3 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p3 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p4 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p4 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p7 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p7 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p6 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p6 }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p5 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p5 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">{{ avaliacao_form.msg_outras_obs_p8 }}</label>
                                <p>{{ avaliacao_farmacoterapia.outras_obs_p8 }}</p>
                            </div>
                            <div class="col-sm-4">
                                <label class="thick">Observações</label>
                                <p>{{ avaliacao_farmacoterapia.outras_perguntas_obs }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <label><strong><u>Parecer farmacêutico</u></strong></label>
                        <p>{{ avaliacao_farmacoterapia.parecer_farmaceutico }}</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Historico retornos-->
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center">
                    <label class="control-label mr-auto p-0"><strong>Históricos de retornos</strong></label>
                </div>
            </div>
            <div class="card-body">
                {% if retornos != None and retornos|length > 0%}
                    {% for retorno in retornos %}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="thick">Atendido por: </label>
                                <label>{{ retorno.user.name }}</label>
                            </div>
                            <div class="form-group">
                                <label class="thick">Compareceu à consulta?</label>
                                <label>
                                    {% if retorno.compareceu %}
                                    Sim, em {{ retorno.register_in.strftime('%d/%m/%Y') }}
                                    {% else %}
                                    Não
                                    {% endif %}
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="thick">Agendou outro retorno?</label>
                                <label>
                                    {% if retorno.data_retorno != None %}
                                    Sim, para {{ retorno.data_retorno.strftime('%d/%m/%Y') }}
                                    {% else %}
                                    Não
                                    {% endif %}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group">
                                {{ form.observacoes.label(class="thick") }}
                                <p>{{ retorno.observacoes }}</p>
                            </div>
                        </div>
                    </div>
                    {% if loop.index <= retornos|length-1 %}<hr>{% endif %}
                    {% endfor %}
                {% else %}
                    <p>Não há registro de retorno</p>
                {% endif %}
            </div>
        </div>

        <form role="form" method="post">
        <div class="card">
            <div class="card-header"><strong>Avaliação de retorno</strong></div>
            <div class="card-body">
              {{ error_form(form) }}
              {{ form.hidden_tag() }}
                <div class="row">
                    <div class="form-group col-sm-2">
                        <div class="form-check">
                        {{ form.compareceu(class="form-check-input") }}
                        {{ form.compareceu.label(class="form-check-label") }}
                        </div>
                    </div>
                    <div class="form-group col-sm-8">
                        {{ form.observacoes.label(class="control-label") }}
                        {{ form.observacoes(class="form-control", maxlength="2000") }}
                    </div>
                    <div class="form-group col-sm-2">
                        {{ form.data_retorno.label(class="control-label") }}
                        {{ form.data_retorno(class="form-control form-date", id="my-date") }}
                    </div>
              </div>
            </div>
            <div class="card-footer">
              {{ form.submit(class="btn btn-success float-right") }}
            </div>
          </div>
        </form>
    </div>
</div>

{% endblock content %}