{% extends "base-site.html" %}

{% from "macros/delete_confirmacao.html" import confirma_delete %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="fade-in">

        <div class="card">
            <div class="card-header">
                <strong>Busca</strong>
            </div>
             <div class="card-body">
                 <form method="post">
                     {{ search_form.hidden_tag() }}
                 <div class="row">
                     <div class="col-sm-2 form-group">
                         {{ search_form.cpf.label() }}
                         {{ search_form.cpf(class="form-control") }}
                     </div>
                     <div class="col-sm-4 form-group">
                            {{ search_form.nome.label() }}
                            {{ search_form.nome(class="form-control") }}
                     </div>
                        <div class="col-sm-6 form-group align-self-end">
                          {{ search_form.submit(class="btn btn-success") }}
                        </div>
                 </div>
                 </form>
             </div>
        </div>

          <div class="card">
            <div class="card-header"><strong>Retornos</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-responsive-sm table-striped">
                        <thead>
                          <tr>
                            <th>Nome paciente</th>
                            <th>CPF</th>
                            <th>Patologia</th>
                            <th>Data do retorno</th>
                            <th>Data do próx. retorno</th>
                            <th>Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                         <tr>
                             {% for retorno in retornos.items %}
                             <td>{{ retorno.paciente.nome }}</td>
                             <td>{{ retorno.paciente.cpf }}</td>
                             <td>{{ retorno.avaliacao_farmacoterapia.dispensacao_medicamento.estado_situacional.patologia }}</td>
                             <td>{{ retorno.register_in.strftime('%d/%m/%Y') }}</td>
                             <td>{% if retorno.data_retorno != None %} {{ retorno.data_retorno.strftime('%d/%m/%Y') }} {% endif %}</td>
                             <td>
                                 <div class="btn-group" role="group">
                                    <button class="btn btn-info" type="button" onclick="location.href='{{ url_for('questionario_blueprint.detalhe_atendimento', id_paciente=retorno.paciente.id) }}'">
                                        <svg class="c-icon">
                                        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-magnifying-glass"></use>
                                        </svg> Detalhes
                                    </button>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {{ pagination(retornos, 'questionario_blueprint.listar_retorno', retornos.prev_num, retornos.next_num) }}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

{% endblock content %}
