{% extends "base-site-fullscreen.html" %}

{% block title %} Página não encontrada {% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
          
            <div class="clearfix">
                <h1 class="float-left display-3 mr-4">404</h1>
                <h4 class="pt-3">Parece que você se perdeu :(</h4>
                <p class="text-muted">
                    Essa página não existe - <a href="/"> Home </a>
                </p>
            </div>    

        </div>
        
    </div>

{% endblock content %}
