{% extends "base-site-fullscreen.html" %}

{% block title %} Erro no servidor {% endblock %}

{% block content %}

      <div class="row justify-content-center">
        <div class="col-md-6">

          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">500</h1>
            <h4 class="pt-3">Parece que tivemos um problema interno....</h4>
            <p class="text-muted">A página está temporariamente indisponível... Em breve voltaremos :D - <a href="/"> Home </a>.
          </div>

        </div>
      </div>

{% endblock content %}
