{% extends "base-site-fullscreen.html" %}

{% block title %} Acesso negado {% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-6">
          
            <div class="clearfix">
                <h1 class="float-left display-3 mr-4">403</h1>
                <h4 class="pt-3">Você não pode acessar essa página</h4>
                <p class="text-muted">
                    Acesso negado! - <a href="/"> Home </a>
                </p>
            </div>    

        </div>
        
    </div>

{% endblock content %}
