{% extends "base-site.html" %}

{% block title %} Página principal {% endblock %}

{% block content %}

    <div class="container-fluid">
      <div class="fade-in">

      <div class="card">
        <div class="card-header">
          <div>
            <strong>Retornos para essa semana</strong>
          </div>
        </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                  <p><strong>Primeiro retorno</strong></p>
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Paciente</th>
                      <th>Patologia</th>
                      <th>Dia do retorno</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for dispensacao, tipo in primeiro_retorno %}
                  <tr>
                      <td>
                        <div>{{ dispensacao.paciente.nome }}</div>
                        <div class="small text-muted">CPF: {{ dispensacao.paciente.cpf }}</div>
                      </td>
                      <td>
                        <div>{{ dispensacao.estado_situacional.patologia }}</div>
                      </td>
                      <td>
                        <div><strong>{{ dispensacao.data_retorno.strftime('%A')|title }}</strong></div>
                        <div class="small text-muted">{{ dispensacao.data_retorno.strftime('%d/%m/%Y') }}</div>
                      </td>
                  </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <p><strong>Retornos posteriores</strong></p>
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                  <thead class="thead-light">
                    <tr>
                      <th>Paciente</th>
                      <th>Patologia</th>
                      <th>Dia do retorno</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for retorno, tipo in retornos_posteriores %}
                  <tr>
                      <td>
                        <div>{{ retorno.paciente.nome }}</div>
                        <div class="small text-muted">CPF: {{ retorno.paciente.cpf }}</div>
                      </td>
                      <td>
                        <div>{{ retorno.avaliacao_farmacoterapia.dispensacao_medicamento.estado_situacional.patologia }}</div>
                      </td>
                       <td>
                        <div><strong>{{ retorno.data_retorno.strftime('%A')|title }}</strong></div>
                        <div class="small text-muted">{{ retorno.data_retorno.strftime('%d/%m/%Y') }}</div>
                      </td>
                  </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header"><strong>Pacientes e atendimentos</strong></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-6">
                        <div class="c-callout c-callout-info"><small class="text-muted">Total de pacientes</small>
                          <div class="text-value-lg">{{ pacientes_total_geral }}</div>
                        </div>
                      </div>
                      <!-- /.col-->
                      <div class="col-6">
                        <div class="c-callout c-callout-info"><small class="text-muted">Novos pacientes (semana)</small>
                          <div class="text-value-lg">{{ pacientes_total_semana }}</div>
                        </div>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.row-->
                    <hr class="mt-0">
                    <h6>Classificação de idade</h6>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>Até 15 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('ate_15') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('ate_15')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('ate_15')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{( idade_count.get('ate_15')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>16 a 30 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('16_a_30') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('16_a_30')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('16_a_30')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{ (idade_count.get('16_a_30')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0  }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>31 a 45 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('31_a_45') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('31_a_45')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('31_a_45')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{ (idade_count.get('31_a_45')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>46 a 60 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('46_a_60') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('46_a_60')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('46_a_60')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{ (idade_count.get('46_a_60')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>61 a 75 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('61_a_75') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('61_a_75')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('61_a_75')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{ (idade_count.get('61_a_75')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>76 a 90 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('76_a_90') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('76_a_90')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('76_a_90')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{ (idade_count.get('76_a_90')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group">
                      <div class="progress-group-header align-items-end">
                        <div>mais de 91 anos</div>
                        <div class="mfs-auto font-weight-bold mfe-2">{{ idade_count.get('mais_91') }}</div>
                        <div class="text-muted small">({{ (idade_count.get('mais_91')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%)</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-success" role="progressbar" style="width: {{ (idade_count.get('mais_91')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}%" aria-valuenow="{{ (idade_count.get('mais_91')/pacientes_total_geral*100)|round|int if pacientes_total_geral > 0 else 0 }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- /.col-->
                  <div class="col-sm-6">
                    <div class="row">
                      <div class="col-6">
                        <div class="c-callout c-callout-danger"><small class="text-muted">Total de atendimentos</small>
                          <div class="text-value-lg">{{ atendimentos_total }}</div>
                        </div>
                      </div>
                      <!-- /.col-->
                      <div class="col-6">
                        <div class="c-callout c-callout-danger"><small class="text-muted">Novos atendimentos (semana)</small>
                          <div class="text-value-lg">{{ atendimentos_semana }}</div>
                        </div>
                      </div>
                      <!-- /.col-->
                    </div>
                    <!-- /.row-->
                    <hr class="mt-0">
                    <h6>Sexo</h6>
                    <div class="progress-group">
                      <div class="progress-group-header">
                        <svg class="c-icon progress-group-icon">
                          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                        </svg>
                        <div>Masculino</div>
                        <div class="mfs-auto font-weight-bold">{{ paciente_porc_masculino }}%</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: {{ paciente_porc_masculino }}%" aria-valuenow="{{ paciente_porc_masculino }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-group mb-5">
                      <div class="progress-group-header">
                        <svg class="c-icon progress-group-icon">
                          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user-female"></use>
                        </svg>
                        <div>Feminino</div>
                        <div class="mfs-auto font-weight-bold">{{ 100 - paciente_porc_masculino }}%</div>
                      </div>
                      <div class="progress-group-bars">
                        <div class="progress progress-xs">
                          <div class="progress-bar bg-warning" role="progressbar" style="width: {{ 100 - paciente_porc_masculino }}%" aria-valuenow="{{ 100 - paciente_porc_masculino }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <!-- /.col-->
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-->
        </div>
        <!-- /.row-->
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/vendors/@coreui/coreui-chartjs/js/coreui-chartjs.bundle.js"></script>
<script src="/static/assets/js/main.js"></script>


{% endblock javascripts %}
