<div id="message-base">
    <div style="padding: 5px;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div id="inner-message" class="alert alert-info" role="alert">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>