{% macro pagination(items, blueprint, url_for_has_prev, url_for_has_next, other_params, left_edge=2, left_current=1, right_current=1, right_edge=2) %}
{% set arg = request.query_string.decode()|regex_replace('&?pagina=\d+', '')|regex_replace('^&', '') %}
<ul class="pagination">
    {% if items.has_prev %}
        {% if arg == '' %}
        <li class="page-item"> <a class="page-link" href="{{ url_for(blueprint, pagina=url_for_has_prev) }}">Anterior</a></li>
        {% else %}
        <li class="page-item"> <a class="page-link" href="{{ url_for(blueprint, pagina=url_for_has_prev) }}&{{arg}}">Anterior</a></li>
        {% endif %}
    {% else %}
      <li class="page-item"><a class="page-link btn disabled" href="#">Anterior</a></li>
    {% endif %}

    {% for page in items.iter_pages(left_edge, left_current, right_current, right_edge) %}
        {% if page%}
            {% if items.page==page %}
                {% if arg == '' %}
                <li class="page-item active"><a class="page-link" href="{{ url_for(blueprint, pagina=page) }}">{{ page }}</a></li>
                {% else %}
                <li class="page-item active"><a class="page-link" href="{{ url_for(blueprint, pagina=page) }}&{{arg}}">{{ page }}</a></li>
                {% endif %}
            {% else %}
                {% if arg == '' %}
                    <li class="page-item"><a class="page-link" href="{{ url_for(blueprint, pagina=page) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for(blueprint, pagina=page) }}&{{arg}}">{{ page }}</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if items.has_next %}
        {% if arg == '' %}
            <li class="page-item"> <a class="page-link" href="{{ url_for(blueprint, pagina=url_for_has_next) }}">Próxima</a></li>
        {% else %}
            <li class="page-item"> <a class="page-link" href="{{ url_for(blueprint, pagina=url_for_has_next) }}&{{arg}}">Próxima</a></li>
        {% endif %}
    {% else %}
      <li class="page-item"><a class="page-link btn disabled" href="#">Próxima</a></li>
    {% endif %}
</ul>
{% endmacro %}


{% macro error_form(form) %}
<div>
    {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>[{{ form[field_name].label }}] {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endmacro %}